@media (max-width: 600px) {
  header {
    position: relative;
  }

  nav {
    position: absolute;
    top: 70px;
    background-color: var(--background-pink);
    width: 100%;
    display: none;
  }

  .menu-icon {
    display: block;
    color: var(--font-paleblack);
    font-size: 23px;
  }

  nav li {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .heading-welcome {
    font-size: 18px;
    letter-spacing: 0.2rem;
    margin-bottom: 50%;
  }

  .aboutus-heading,
  .contact-heading {
    font-size: 18px;
    letter-spacing: 0.2rem;
  }

  .contact-heading {
    margin-top: 45%;
  }
}
