* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-paleblack: #111;
  --background-pink: #f0d4db;
  --white: whitesmoke;
  --yellow-sun: #fff936;
  --pink-hover: #fe80d5;
  --orange-hover: #ffb306;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--background-pink);
  height: 70px;
}

.logo {
  flex-grow: 1;
}

.logo img {
  width: 50px;
  margin-left: 30px;
}

nav {
  margin-right: 30px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
}

nav li a {
  text-decoration: none;
  color: var(--font-paleblack);
}

.menu-icon {
  display: none;
  margin-right: 30px;
}

/* MAIN */

.welcome {
  background: url("./img/background.webp.jpg");
  min-height: calc(100vh - 70px);
  background-size: cover;
  background-position: center;
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: end;
}

/* HEADING  */
.heading-welcome {
  font-size: 24px;
  text-transform: lowercase;
  padding-bottom: 50px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.4rem;
}


/****************** ABOUT US ***********************/


/*  #e37c89, #f8a531, #ad8bcf, #df8cb7*/

.main-aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-height: calc(100vh - 70px);
}

.button-aboutus__unicorn {
  /* background: linear-gradient(90deg, #6599f4, #80ae34, #fbe271); */
  background-color: var(--background-pink);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid var(--font-paleblack);
  color: var(--font-paleblack);
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.1px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 70px;
}

.button-aboutus__unicorn:hover {
  background-color: #fe80d5;
}

.button-aboutus__unicorn.button-aboutus__light {
  background-color: var(--yellow-sun);
}

.flying-image {
  width: 300px;
  margin-bottom: 0;
  cursor: pointer;
  transition: transform 6s ease-in;
}

.aboutus-heading {
  color: var(--font-paleblack);
  font-size: 24px;
  text-transform: lowercase;
  padding-bottom: 50px;
  font-family: 'Inconsolata', monospace;
  letter-spacing: 0.4rem;
}
